/* body{
    width:100vw;
    overflow:hidden;
} */

*{
    padding:0;
    margin:0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
.hidden{
    visibility: hidden;
}
body{
    padding:10px;
}
main{
    max-width:800px;
    margin:0 auto;
}


/******************************************************************************
**  Login Signup
******************************************************************************/
#index{
    position:relative;
}

#signup, #login, .actions{
    border:1px solid #ccc;
    border-radius:5px;
    width:70%;
    padding:20px;
    margin:20vh auto 0;
    max-width:800px;
}

#index h1{
    position:relative;
    z-index:999;
    color:white;
    text-align:center;
    top:15vh;
    font: 500 48px/54px 'Alfa Slab One', cursive;
}

#login, .actions{
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:999;
    position:relative;
}

input, label{
    display:block;
}

input, button[type="submit"]{
    margin-bottom:20px;
    width:100%;
    height:30px;
}

.actions{
margin-top:20px;
}

.warning{
    border:1px solid #dd2956;
    width:50%;
    margin:20px auto;
    padding:20px;
    border-radius:5px;
    color: #dd2956;
    background-color: #dd295650;
}

#index{
    height:100vh;
    width:100vw;
    overflow:hidden;
}

#background{
    height:110vh;
    width:110vw;
    position:absolute;
    background-color:#ffffff90;
    top:-5vh;
    left:-5vw;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:0;
    padding-bottom:0;
}

.card-wrapper {
  width: 100px;
  height:100px;
  position: relative;
  -o-perspective: 900px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  display:inline-block;
  /* margin-bottom: calc((100% - 400px) / 3)  */
  margin-bottom:2px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    /* margin-bottom:0; */
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.do-flip {
    /* animation: flip 2s ease-in-out */
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

@keyframes flip{
    0%{
        -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    }
    100%{
        -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    }
}

.card .card-front, .card .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    background-size:100%;
    margin-bottom:0;
}

.card .card-front {
    overflow:hidden;
}

.card .card-back {
    background-size:100%;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);

}

.screen{
    height:110vh;
    width:110vw;
    position: absolute;
    top:-5vh;
    left:-5vw;
    /* background-color:black; */
    background: radial-gradient(#00000090, #000000d0);
    z-index:99;
}

/******************************************************************************
**  Music Project Page
******************************************************************************/
main{ 
    display:grid;
    margin-top:10px;
}

section{
    padding:10px;
    border-radius:5px;
}

#profPic{
    height:90px;
    width:90px;
    border-radius:50%;
}

.userLetter{
    height:30px;
    width:30px;
    line-height:30px;
    text-align:center;
    background-color:#ffffff90;
    color:#001747;
    font-weight:900;
    font-size:24px;
    border-radius:50%;
    display: inline-block;
    margin-left:10px;
}

header{
    position:relative;
    height:30px;
    max-width:800px;
    margin:70px auto 0;
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}


.welcome{
    height:30px;
    line-height:30px;
    margin:0;
    padding:0;
    color:white;
}

#signout{
    color:white;
    height:30px;
    line-height:30px;
    font-size:10px;
}

#signout:hover{
    text-decoration:underline;
    cursor:pointer;
}
.emptyState img{
    width:100%;
    max-width:512px;
    margin:0 auto;
    opacity:0.2;
    margin-bottom: 20px;
}

.emptyState{
    position:relative;
}
.emptyState p{
    font: 300 18px/26px 'Raleway', sans;
    position:absolute;
    top:50px;
}
/******************************************************************************
**  Autocomplete
******************************************************************************/
.minimize{
    height:15px;
    width:15px;
    background-color:#ccc;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    padding:5px;
    line-height:15px;
    position:absolute;
    top:-5px;
    right:-5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.minimize:hover{
    transform:scale(1.1)
}

.autocomplete{
    position:relative;
    border:1px solid #aeae99;
    border-top: none;
    margin-top:-19px;
}

.entry{
    display:flex;
    margin-bottom:5px;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    min-height:64px;
}

.entry:hover{
    cursor:pointer;
    background-color:#efefef;
}
.entry img{
    margin-left:5px;
}
.content{
    height:64px;
}

.content h3{
    height:34x;
    margin:0;
    padding-left:10px;
    font-size:18px;
}
.content p {
    margin:0;
    height:30px;
    padding-left:10px;
}


/******************************************************************************
**  Search Album 
******************************************************************************/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.autocomplete{
    max-height:400px;
    overflow-y:scroll;
}

.albumSelect img{

}

.albumSelect{
    padding:10px;
}
.albumSelect table{
    max-height:150px;
    overflow-y:scroll;
    max-height:150px;
    width:300px;
    overflow-y: scroll;    
    margin-bottom:20px;
}

.albumCover{
    width:300px;
}

thead{
    font-weight:bold;
}

tr:nth-of-type(even){
    background-color:#efefef;
}


/******************************************************************************
**  Up Next
******************************************************************************/
#upNext .albumCover{
    width:150px;
    height:150px;
    float:left;
}

#upNext td:nth-of-type(3), #upNext td:nth-of-type(1){
    display:none;   
}

#upNext button{ 
    display:none;
}

#upNext h3, #upNext p{
    display:inline;
}

#upNext p{
    margin-left:10px;
    position:absolute;
    width:100%;
    left:0;
}

#upNext table{
    height:100px;
    overflow-y: scroll;
}

#upNext img{
    width:200px;
}

/******************************************************************************
** Current Album
******************************************************************************/
.tracks{
    border-collapse:collapse;
    width:100%;
}
.tracks input{
    margin:0;
    height:20px;
    width:20px;
}

.tracks tbody{
    font-size:12px;
}

.tracks a{
    text-decoration:none;
}

td:nth-of-type(2){

    text-align:center;
}

h2 a {
    font-size:12px;
    font-weight:normal;
    float:right;
}

.songHolder{
    max-height:200px;
    overflow-y: scroll;
}

.hits{
    display:flex;
    margin-bottom:10px;
}

.hits img{
    height:50px; 
    width:50px;
    margin-right:10px;
}

textarea{
    resize:none;
    width:100%;
}



/******************************************************************************
**  Data Vis
******************************************************************************/
#selectYear{
    display:flex;
    align-content:center;
}
#dataVis input{
    width:20px;
    height:20px;
    line-height:20px;
    margin-top:-2px;
}

#dataVis label{
    width:50px;
    display:flex;
    height:20px;
}
.calendar{
    margin:20px 0 50px;
    height:100px;
    position:relative;
}

.ratingAxis{
    transform:rotate(-90deg);
    position:absolute;
    height:15px;
    top:42px;
    left:-43px;
    width: 100px;
    border-bottom:1px solid black;
    text-align:center;
    line-height:15px;
    font-size:10px;
}

.weeks{
    position:absolute;
    width:calc(100% - 15px);
    height:15px;
    bottom:-15px;
    left:15px;
    border-top:1px solid black;
    z-index:9;
    text-align:center;
    line-height:15px;
    font-size:10px;
}

.dates{
    height:100px;
    min-width:200px;
    width: calc(100% - 15px);
    position:absolute;
    left:15px;
    display:flex;
    align-items:flex-end;
}

.dataWeek{
    width:1.9%;
    border-left:1px solid white;
}
.dataWeek:hover{
    transform:scale(1.1)
}
.rating1{
    background-color:#ea4111;
    height:20px;
}
.rating1_5{
    background-color:#d04545;
    height:30px
}
.rating2{
    background-color:#ea5023;
    height:40px;
}
.rating2_5{
    background-color:#ae5023;
    height:50px;
}
.rating3{
    background-color:#308070;
    height:60px;
}
.rating3_5{
    background-color:#30aa70;
    height:70px;
}
.rating4{
    background-color:#30ca50;
    height:80px;
}
.rating4_5{
    background-color:#30eac0;
    height:90px;
}
.rating5{
    background-color:#90edb0;
    height:100px;
}

.empty{
    height:10px;
    background-color:#89f;
    box-sizing:border-box;
}

.breakDown{
    white-space: pre;
    display:flex;
    margin-bottom:20px;
}

.breakDown div{
    height:10px;
}

.breakDown .oneStar{
    background-color: #70D6BC;
}

.breakDown .twoStar{
    background-color:#38C7BD
}

.breakDown .threeStar{
    background-color: #0E7FA6
}

.breakDown .fourStar{
    background-color:#11487D
}

.breakDown .fiveStar{
    background-color:#001747
}

.key{
    display:flex;
    justify-content: space-between;
    font-size:10px;
}

.key .oneStar{
    border-top: 2px solid  #70D6BC;
}

.key .twoStar{
    border-top: 2px solid #38C7BD
}

.key .threeStar{
    border-top: 2px solid  #0E7FA6
}

.key .fourStar{
    border-top: 2px solid #11487D
}

.key .fiveStar{
    border-top: 2px solid #001747
}

.noDisplay{
    display:none;
}

.details{
    position:absolute;
    background-color: #aeae99;
    transform:rotate(-45deg);
    font-size:10px;
    width:150px;
    left:-12px;
    bottom:80px;
    height:10px;
    line-height:10px;
}

.empty .details{
    bottom:60px;
}

.triangleLeft {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #aeae99;
    border-bottom: 5px solid transparent;
    position:absolute;
    left:-10px;
    top:0;
}

/******************************************************************************
**  Your Albums
******************************************************************************/
#yourAlbums main{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between
}
.yourAlbum{
    border:1px solid black;
    width:45%;
}

.yourAlbum img{
    width:100%;
}

.songs{
    list-style-type:none;
    list-style-position:outside;
    margin:0;
    padding:0;
}
.songs li{
    padding:0;
    margin:0;
}

/******************************************************************************
**  General Design
******************************************************************************/
body{
    background-image: url('img/background-image.png'), linear-gradient(to bottom right, #068587, #034456);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
}

main{
    background-color:#f3f3f9;
    border-radius:5px;
    padding:20px;
}

section{
    background-color:white;
    padding:20px;
    margin:20px;
    border:1px solid #aeae99
}

button{
    padding:5px;
    color: #001747;
    border:1px solid #001747;
    background-color:white;
    border-radius:5px;
}

button:hover{
    background-color:#001747;
    color:white;
    cursor:pointer;
}



h2{
    font-family:'Raleway', sans-serif;
    font-weight:900;
    margin:0 0 20px;
    height:30px;
    line-height:30px;
    color: #001747
}

h2 span{
    line-height:30px;
}

.queuedAlbum img{
    width:100%;
}

.queuedAlbum h3{
    grid-area: title;
}

.queuedAlbum p{
    grid-area:artist;
}

.actionBlock{
    grid-area: action;
    margin: 20px 0;
}
.actionBlock p{
    margin-bottom:20px;
}

#ratingForm{
    margin-top:20px;
}

label[for="rating"]{
    margin-bottom: 20px;
    outline:1px solid red;
}

label[for="songs"]{
    margin: 20px auto 10px;
}

.ratingLabel{
    display:flex;
    justify-content: space-between;
    position:relative;
    margin-top:-20px;
    font-size:10px;
}

@media screen and (min-width: 650px){
    main{
        display:grid;
        grid-gap:10px;
        grid-template-areas:
        'current current current upNext upNext'
        'current current current addMusic addMusic'
        'dataVis dataVis dataVis dataVis theHits'
    }

    section{
        margin:0;
        padding:10px;
    }
    #current{
        grid-area: current;
        
    }
    #upNext{
        grid-area:upNext;
    }

    #addMusic{
        grid-area:addMusic;
    }

    #dataVis{
        grid-area:dataVis
    }

    #musicSearch{
        position:relative;
    }
    .autocomplete{
        position:absolute;
        background-color:white;
        z-index:99;
        width:100%;
    }

    .autocomplete h3{
        font-size:14px;
    }
}


/******************************************************************************
**  Queue Page
******************************************************************************/

#queue main{
    outline:3px solid red;
    display:flex; 
    justify-content: space-around;
    flex-wrap:wrap;
}

.queueItem{
    border:1px solid #aeae99;
    position:relative;
    width:70%;
    /* margin-left:15%; */
    margin-bottom:10px;
    padding:10px;
    background-color:white;
    max-width:175px;
}

.queueItem img{
    width:100%;
    max-width:175px;
    margin:0 auto;
}

.queueUp, .queueDown{
    position:Absolute;
    height:30px;
    width:30px;
    background-color:white;
    border:1px solid #aeae99;
    border-right: none;
    top:30%;
    left:-31px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.queueDown{
    top:60%;
}

.queueUp i, .queueDown i{
    color: #aeae99;
    font-size:20px;
    display:block;
    height:100%;
    line-height:30px;
    text-align:center;
}

.currentQueue{
    border:2px solid #11487D
}
.currentQueue .queueUp, .currentQueue .queueDown{
    border: 2px solid #11487D;
    border-right: none;
    left:-32px;
}

.currentQueue i{
    color: #11487D
}

.queueDown:hover i , .queueUp:hover i{
    cursor:pointer;
    transform:scale(1.2)
}

#queue .omitted{
    opacity: 0.5;
}

#queue .omitted:hover{
    cursor:default;
    transform:scale(1)
}

/*****************************
**  playlist
*************************/

#playlist main{
    display:flex;
    justify-content: space-between
}

#playlist textarea{
    height:150px;
    margin-bottom:20px;
}
#playlistForm{
    width:40%;
}
.trackSelect{
    width:60%;
    padding-left:20px;
}

.trackSelect .hits{
    justify-content: space-between;
    height:35px;

}
.trackSelect img{
    width:35px;
    height:35px;
}

/* .trackSelect .hits a{
    display:block;
} */

.trackSelect p{
    width:70%;
}
.trackSelect .hits input{
    height:20px;
    margin-top:7.5px;
    width:10%;

}